<a href="https://colab.research.google.com/github/Somyadhariwal/SD_MLAP/blob/main/Covid_cases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Somyadhariwal/Soul/main/COVID-19%20Cases(11-08-2021).csv?token=AVEX6VOHMN2UCB4RXRUQUYLBCO6FM')
df.head()

   S. No.        Date Region  ...  Active Cases  Cured/Discharged  Death
0       1  12/03/2020  India  ...          71.0               3.0    0.0
1       2  13/03/2020  India  ...          71.0               3.0    1.0
2       3  14/03/2020  India  ...          72.0              10.0    2.0
3       4  15/03/2020  India  ...          95.0              10.0    2.0
4       5  16/03/2020  India  ...          99.0              13.0    2.0

[5 rows x 7 columns]